@model IEnumerable<MVCAPP.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>Emp Job</th>
        <th>Emp Salary</th>
        <th>Emp Address</th>
        
    </tr>
   @foreach (var item in Model)
   {
       

    <tr>
        <td>@item.EmpID</td>
        <td>@item.EmpName</td>
        <td>@item.Job</td>
        <td>@item.Salary</td>
        <td>@item.Address</td>

    </tr>
   }

</table>
